<style>

#logo{
  text-align: center;
  color: white;
}

#forum{
  position: relative;
  bottom:60px;
  color: white;
  left: 900px;
}

#new{
  position: relative;
  bottom:34px;
  color: white;
  left: 30px;
}

#article{
  position: relative;
text-align: center;
  color: white;
  left: 450px;

}
.navbar-toggler{
  color: white;
}
</style>


<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar navbar-dark bg-inverse">
    <ul class="nav navbar-nav clearfix">
      <li class="nav-item">
        <button class="navbar-toggler hidden-sm-up nav-link" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
          &#9776;
        </button>
      </li>
      <li>
        <h3 id='logo'>VANILLA SKY'S</h3>
      </li>

      <li><h4><%= link_to 'Articles', posts_path, :id => 'article' %></h4></li>

      <li><h4><%= link_to 'New Article', new_post_path, :id => 'new' %></h4></li>

      <li><h4><%= link_to 'Forums', forums_path, :id => 'forum' %></h4></li>
    </ul>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <%= link_to "Rails bootstrap", root_path, class: 'navbar-brand' %>
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </nav>
</div>
